{% extends 'base.html' %}
{% load static %}
{% block mainbody %}

<div class="container-xxl flex-grow-1 container-p-y">
  <a href="#"> <!-- 광고 배너 외부 링크/이벤트 페이지-->
  <div class="d-flex align-items-center row text-center">
    <div class="col-sm-12">
      <div class="card-body">
        <img 
          src="{% static 'assets/img/광고베너.png' %}"
          height="100rem">
      </div>
    </div>
  </div>
  </a>

  <!-- <div class="col-lg-4 col-md-4 order-1"> -->
  <div class="row">
    <div class="col-lg-6 mb-4 order-0">
      <div class="card">
        <h6 class="card-header"><strong>약속 캘린더</strong></h6>
        <div class="card-body">
          <table id="calendar" class="calendar">
            <tr>
              <td><label class="cal-btn" onclick="prevCalendar()"><</label></td>
              <td align="center" id="tbCalendarYM" colspan="5">YYYY.MM</td>
              <td><label class="cal-btn" onclick="nextCalendar()">></label></td>
            </tr>
            <tr>
              <td><font color ="#ed2a61">SUN</td>
              <td>MON</td>
              <td>TUE</td>
              <td>WED</td>
              <td>THU</td>
              <td>FRI</td>
              <td><font color ="#3c6ffa">SAT</td>
            </tr> 
          </table>
          <script>buildCalendar();</script>
        </div>
      </div>
    </div>

    <div class="col-lg-6 order-1">
      <div class="card col">
        <!-- <h5 class="card-header"><strong>새 친구를 찾아보세요!</strong></h5> -->
        <!-- {% if count %}
        <h4 class="card-header"> 총 {{ count }}명의 친구를 찾았어요! </h4>
        {% endif %} -->
        <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <tbody class="table-border-bottom-0">
              {% for user in users %}
              <tr>
                <td>
                  {% if user.userprofile.get_photo_home_url %}
                  <div class="container">
                    <a href="{% url 'detail_profile' %}">
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="photo_img" class="avatar" tabindex="0">
                          <div class="avatar">
                            <img
                              src="{{ user.userprofile.get_photo_home_url }}"
                              alt
                              class="w-px-40 h-auto rounded-circle"
                            />
                          </div>
                        </label>
                      </div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-4 col-sm-4">
                            <img src="{% static 'assets/img/미국 1.png' %}" alt="">
                            <strong>{{user.name}}</strong>
                          </div>
                          <div class="col-4 col-sm-4">
                            <img src="{% static 'assets/img/mothertongue.png'%}"><strong>{{user.mother_tongue}}</strong>
                          </div>
                          <div class="col-4 col-sm-4">
                            <img src="{% static 'assets/img/location.png'%}"><strong>{{user.address_emd}}</strong>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4 col-sm-12">
                            {% if user.userprofile.introduction %}
                              {{user.userprofile.introduction}}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  </div>

                  {% else %}
                  <div class="container">
                    <a href="{% url 'detail_profile' %}">
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="photo_img" class="avatar" tabindex="0">
                          <div class="avatar">
                            <img
                              src="{% static 'assets/img/ordinary_profile_photo.png' %}"
                              alt
                              class="w-px-40 h-auto rounded-circle"
                            />
                          </div>
                        </label>
                      </div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-4 col-sm-4">
                            <img src="{% static 'assets/img/미국 1.png' %}" alt="">
                            <strong>{{user.name}}</strong>
                          </div>
                          <div class="col-4 col-sm-4">
                            <img src="{% static 'assets/img/mothertongue.png'%}"><strong>{{user.mother_tongue}}</strong>
                          </div>
                          <div class="col-4 col-sm-4">
                            <img src="{% static 'assets/img/location.png'%}"><strong>{{user.address_emd}}</strong>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4 col-sm-12">
                            {% if user.userprofile.introduction %}
                              {{user.userprofile.introduction}}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  </div>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
