{% extends 'base.html' %} {% load static %} {% block mainbody %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="container">
            <div class="row">
                <h4 class="fw-bold py-1 mb-3">
                    <span class="fw-light">약속 잡기</span>
                </h4>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>대화 테마 정하기</strong><br>
                                <small>나의 메이트와 만나서 대화할 주제를 선정해요.</small>
                            </p>
                            <form>
                                <p class="demo-inline-spacing">
                                    <div class="thema-select-group"> 
                                        <input type="hidden" name="thema-select" value="x" />
                                        <label class="radio-btn">
                                            <input type="radio" name="thema-select" value="일반" />
                                            <span>일반</span>
                                        </label>
                                        <label class="radio-btn">
                                            <input type="radio" name="thema-select" value="특별" />
                                            <span>특별</span>
                                        </label>
                                    </div>
                                </p>
                            </form>
                            <div class="mb-5"></div>
                            <div class="d-grid gap-2 col-lg-6 mx-auto">
                                <button class="btn btn-primary" type="button" onclick="location.href='{% url 'thema2' %}'">다음</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}