{% extends 'base.html' %} {% load static %} {% block mainbody %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="container">
            <div class="row">
                <h4 class="fw-bold py-1 mb-3">
                    <span class="fw-light">약속 잡기</span>
                </h4>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                        <div class="d-grid d-sm-flex p-3 border">
                            <div class="col-xl-12">
                                <h6 class="text-muted"></h6>
                                <div class="nav-align-top mb-4">
                                    <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
                                        <li class="nav-item">
                                            <button
                                            type="button"
                                            class="nav-link active"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#감정"
                                            aria-controls="감정"
                                            aria-selected="true"
                                            >
                                            감정
                                            </button>
                                        </li>
                                    <li class="nav-item">
                                        <button
                                            type="button"
                                            class="nav-link"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#추억"
                                            aria-controls="추억"
                                            aria-selected="false"
                                        >
                                        추억
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button
                                            type="button"
                                            class="nav-link"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#연애"
                                            aria-controls="연애"
                                            aria-selected="false"
                                        >
                                        연애
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button
                                            type="button"
                                            class="nav-link"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#일상"
                                            aria-controls="일상"
                                            aria-selected="false"
                                        >
                                        일상
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button
                                            type="button"
                                            class="nav-link"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#유행"
                                            aria-controls="유행"
                                            aria-selected="false"
                                        >
                                        유행
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button
                                            type="button"
                                            class="nav-link"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#문화"
                                            aria-controls="문화"
                                            aria-selected="false"
                                        >
                                        문화
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button
                                            type="button"
                                            class="nav-link"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#배움"
                                            aria-controls="배움"
                                            aria-selected="false"
                                        >
                                        배움
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button
                                            type="button"
                                            class="nav-link"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#영화"
                                            aria-controls="영화"
                                            aria-selected="false"
                                        >
                                        영화
                                        </button>
                                    </li>
                                
                                    </ul>
                                    <div class="tab-content">
                                    <div class="tab-pane fade show active" id="감정" role="tabpanel">
                                        <table class="thema-table">
                                            <tbody>
                                            <tr onclick="questionSelected(this, '#708090')"><td>Q1. 내 생애 가장 부끄러웠던 일은?</td></tr>
                                            <tr onclick="questionSelected(this, '#708090')"><td>Q2. 나를 행복하게 만드는 작은 습관이 있다면?</td></tr>
                                            <tr onclick="questionSelected(this, '#708090')"><td>Q3. 슬픈 감정은 어떻게 해소하나요?</td></tr>
                                            <tr onclick="questionSelected(this, '#708090')"><td>Q4. 웃다가 울어본 적 있나요?</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="추억" role="tabpanel">
                                        <p>
                                            추억추억
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="연애" role="tabpanel">
                                        <p>
                                            연애연애
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="일상" role="tabpanel">
                                        <p>
                                            일상일상
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="유행" role="tabpanel">
                                        <table class="thema-table">
                                            <tbody>
                                                <tr onclick="questionSelected(this, '#708090')"><td>Q1. 깻잎 논쟁을 아시나요?</td></tr>
                                                <tr onclick="questionSelected(this, '#708090')"><td>Q2. 나의 최애 유튜버 소개하기</td></tr>
                                                <tr onclick="questionSelected(this, '#708090')"><td>Q3. 최근 가장 킹받았던 순간은?</td></tr>
                                                <tr onclick="questionSelected(this, '#708090')"><td>Q4. 세계관 이해에만 100시간이 걸리는 K-POP 걸그룹</td></tr>
                                                </tbody>
                                            </table>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="문화" role="tabpanel">
                                        <p>
                                            문화문화
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="문화" role="tabpanel">
                                        <p>
                                            문화문화
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="배움" role="tabpanel">
                                        <p>
                                            배움배움
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="영화" role="tabpanel">
                                        <p>
                                            영화영화
                                        </p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-lg-6 mx-auto mt-3">
                            <button class="btn btn-primary" type="button" onclick="location.href='{% url 'themaselect' %}'">다음</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}