*{
    font-family: 'Noto Sans', sans-serif;
}

/* thema-table */
.thema-table > tbody > tr > td:hover {
    color: #1C3BD5;
}

/* radio button */
.radio-btn input[type="radio"] {
    display: none;
}

.radio-btn input[type="radio"] + span {
    display: inline-block;
    padding: 7px;
    width: 7.5rem;
    border: 1px solid #5f61e6;
    background-color: #ffffff;
    text-align: center;
    color: #5f61e6;
    cursor: pointer;
    border-radius: 0.45rem !important;
}

.radio-btn input[type="radio"]:checked + span {
    color: #fff;    
    background-color: #595cd9;
    border-color: #595cd9;
}

.radio-btn input[type="radio"]:hover + span {
    color: #fff;
    background-color: #595cd9;
    border-color: #595cd9;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}

.thema-select-place-group > .radio-btn input[type="radio"] + span {
    width: 4.5rem;
    margin-right: 0.5rem !important;
}

.thema-select-group > .radio-btn input[type="radio"] + span {
    width: 4.5rem;
    margin-right: 0.5rem;
}

.card-body > select {
    border-radius: 0.45rem;
}

.themaselect-textbox {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 20rem;
    outline: none;
}

.sns-img-box {
    text-align: center;
}

.sns-img-box > img {
    /* border-radius: 50%; */
    overflow: hidden;
    margin-right: 10px;
}

.offcanvas.offcanvas-bottom.thema-offcanvas {
    height: 55vh;
}


/* calendar */
.cal-btn:hover {
    color: #ed2a61;
}

.calendar td {
    width: 2.5rem;
    text-align: center;
    height: 2.5rem;
}

.calendar {
    margin: auto;
}